body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/143/115/original/AI_Recipe_Generator_Background_image_Preview.jpeg?1726135312");
  background-size: 100vw 100vh;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: rgb(244, 189, 24);
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: white;
}
.form-container {
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 9px;
  margin-left: 20px;
  opacity: 0.6;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: rgb(244, 189, 24);
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.recipe {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(244, 189, 24);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: white;
}

.recipe strong {
  color: rgb(244, 189, 24);
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visisbility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
